html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.about-container {
    width: 100%;
    height: 300vh;
    display: flex; 
    justify-content: flex-start; 
    align-items: flex-start;
    flex-direction:column;
}

.about-title {
    margin: 6% 0 0 8%;
    font-size: 3.0rem;
    font-weight: 800;
}

.about-title-description {
    margin: 0 0 0 8%;
    font-size: 1.5rem;
    font-weight: 300;
}

#about1 {
    padding: 0% 8% 0% 8%;
    height: 17%;
    width: calc(100% - 16%);
}

#about-description {
    height: 14%;
    width: calc(100% - 16%);
    padding: 0% 8% 0% 8%;
    margin: 2% 0% 2% 0%;
    font-size: 0.95rem;
    font-weight: 400;
    line-height: 3vh;
    overflow: hidden;
}

#about2 {
    height: 100%;
    width: 100%;
}

#about3 {
    height: 100%;
    width: 100%;
}
#about-div {
    display: flex; 
    justify-content: flex-start; 
    align-items: flex-start;
    flex-direction:row;
    padding: 0% 8% 0% 8%;
    width: calc(100% - 16%);
}
#about2-div {
    position: relative;
    height: 100%;
    width: 40%;
    background: rgba(0, 0, 0, 0);
    z-index: 10;
    transition: background 0.3s ease-in-out;
}

#about2-title {
    position: absolute;
    left: 8%;
    top: 76%;
    color: rgba(255, 255, 255, 1);
    font-size: 2.0rem;
    font-weight: 600;
    transition: color 0.3s ease-in-out, top 0.3s ease-in-out;
}

#about2-description {
    position: absolute;
    left: 8%;
    top: 62%;
    color: rgba(255, 255, 255, 0);
    font-size: 1.0rem;
    font-weight: 500;
    line-height: 3vh;
    transition: color 0.3s ease-in-out;
    width: 80%;
}
#about3-div {
    position: relative;
    margin: 0% 0% 0% 20%;
    height: 100%;
    width: 40%;
    background: rgba(0, 0, 0, 0);
    z-index: 10;
    transition: background 0.3s ease-in-out;
}
#about3-title {
    position: absolute;
    left: 8%;
    top: 76%;
    color: rgba(255, 255, 255, 1);
    font-size: 2.0rem;
    font-weight: 600;
    transition: color 0.3s ease-in-out, top 0.3s ease-in-out;
}

#about3-description {
    position: absolute;
    left: 8%;
    top: 22%;
    color: rgba(255, 255, 255, 0);
    font-size: 1.0rem;
    font-weight: 500;
    line-height: 3vh;
    transition: color 0.3s ease-in-out;
    width: 80%;
}
.about-info-box {
    display: flex; 
    justify-content: flex-start; 
    align-items: flex-start;
    flex-direction:row;
    padding: 0% 8% 0% 8%;
    width: calc(100% - 16%);
}
.about-data {
    font-size: 3.7rem;
    font-weight: 700;
    color: red;
}

.about-info {
    font-size: 1.0rem;
    font-weight: 300;
    padding: 0% 8% 0% 8%;
}

.about-info-class {
    margin: 2% 12% 0% 0%;
}

.about-our-client {
    font-size: 3.0rem;
    font-weight: 800;
    padding: 0% 0% 0% 40%;
    margin: 5% 0% 0% 0%;
}

.about-our-client-description {
    font-size: 1.2rem;
    font-weight: 300;
    padding: 0% 0% 0% 19%;
    margin: 2% 0% 0% 0%;
}

#our-client {
    height: 17%;
    width: calc(100% - 16%);
    padding: 5% 8% 0% 8%;
}