html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.about-container {
    width: 100%;
    height: 300vh;
    max-width: 100%;
    position: relative;
    top: 24%;
    margin-bottom: 15%;
    overflow: hidden;
}

.about-title {
    position: absolute;
    left: 8%;
    font-size: 40px;
    font-weight: 800;
}

.about-title-description {
    position: absolute;
    left: 8%;
    top: 3%;
    font-size: 25px;
    font-weight: 300;
}

#about1 {
    position: absolute;
    left: 8%;
    top: 5%;
    height: 21%;
    width: 85%;
}

#about-description {
    position: absolute;
    left: 8%;
    top: 27%;
    font-size: 15px;
    font-weight: 400;
    line-height: 12px;
}

#about2 {
    position: absolute;
    left: 8%;
    top: 42%;
    height: 25%;
    width: 40%;
}

#about3 {
    position: absolute;
    left: 53%;
    top: 42%;
    height: 25%;
    width: 40%;
}

#about2-div {
    position: absolute;
    left: 8%;
    top: 42%;
    height: 25%;
    width: 40%;
    background: rgba(0, 0, 0, 0);
    z-index: 10;
    transition: background 0.3s ease-in-out;
}

#about2-title {
    position: absolute;
    left: 8%;
    /* top: 52%; */
    top: 76%;
    color: rgba(255, 255, 255, 1);
    font-size: 30px;
    font-weight: 600;
    transition: color 0.3s ease-in-out, top 0.3s ease-in-out;
}

#about2-description {
    position: absolute;
    left: 8%;
    top: 62%;
    color: rgba(255, 255, 255, 0);
    font-size: 15px;
    font-weight: 500;
    line-height: 12px;
    transition: color 0.3s ease-in-out;
}
#about3-div {
    position: absolute;
    left: 53%;
    top: 42%;
    height: 25%;
    width: 40%;
    background: rgba(0, 0, 0, 0);
    z-index: 10;
    transition: background 0.3s ease-in-out;
}
#about3-title {
    position: absolute;
    left: 8%;
    /* top: 52%; */
    top: 76%;
    color: rgba(255, 255, 255, 1);
    font-size: 30px;
    font-weight: 600;
    transition: color 0.3s ease-in-out, top 0.3s ease-in-out;
}

#about3-description {
    position: absolute;
    left: 8%;
    top: 22%;
    color: rgba(255, 255, 255, 0);
    font-size: 15px;
    font-weight: 500;
    line-height: 12px;
    transition: color 0.3s ease-in-out;
}

.about-data {
    font-size: 60px;
    font-weight: 700;
    color: red;
}

.about-info {
    font-size: 15px;
    font-weight: 300;
    position: absolute;
    left: 8%;
}

.about-info-class {
    position: absolute;
    top: 69%;
}

#about-info1 {
    left: 8%;
}

#about-info2 {
    left: 28%;
}

#about-info3 {
    left: 53%;
}

#about-info4 {
    left: 73%;
}

.about-our-client {
    position: absolute;
    left: 43%;
    top: 75%;
    font-size: 40px;
    font-weight: 800;
}

.about-our-client-description {
    position: absolute;
    left: 18%;
    top: 78%;
    font-size: 20px;
    font-weight: 300;
}

#our-client {
    position: absolute;
    left: 8%;
    top: 80%;
    height: 21%;
    width: 85%;
}