html,
body {
    height: 300%;
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
}
/* 热门类型 */
#wy-popular-product-types-container {
    height: 35%;
    width: 90%;
    margin: 5% 5% 5% 5%;
    padding: 0;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    background: rgb(230, 229, 229);
}
#wy-popular-product-type-title {
    height: 6%;
    width: 96%;
    margin: 2% 0 0 4%;
    padding: 0;
}
.wy-popular-product-types-container-row {
    height: 42%;
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: row;
}
.wy-popular-product-type-item {
    height: 96%;
    width: 21%;
    margin: 2% 2%;
    padding: 0;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    background: white;
    cursor: pointer;
    transition: box-shadow 0.3s ease;
    box-shadow: 0 0 10px rgb(233, 232, 232);
}
.wy-popular-product-type-item:hover {
    box-shadow: 0 0 20px rgb(224, 65, 65);
}
.wy-popular-product-type-img {
    height: 80%;
    width: 100%;
}
.wy-popular-product-type-name {
    width: 90%;
    font-size: 1.2rem;
    font-weight: 600;
    margin: 5% 5% 0 5%;
    padding: 0;
    color: black;
    word-wrap: break-word;
    overflow: auto;
}
/* 热门产品 */
#wy-popular-products-carousel-chart {
    height: 20%;
    width: 90%;
    margin: 5% 5% 5% 5%;
    background: rgb(230, 229, 229);
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
}

#wy-popular-products-carousel-chart__row-1 {
    height: 20%;
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: row;
}

#wy-popular-products-carousel-chart__title {
    height: 100%;
    width: 50%;
    margin: 2% 0 0 4%;
    padding: 0;
}

.wy-popular-products-carousel-chart__icon {
    width: 5%;
    height: 100%;
    margin: 0;
    padding: 0;
    transition: box-shadow 0.3s ease;
}

.wy-popular-products-carousel-chart__icon:hover {
    box-shadow: 0 0 10px rgba(255, 255, 255, 1);
}

#wy-popular-products-carousel-chart__icon-left {
    margin-left: 32%;
}

#wy-popular-products-carousel-chart__row-2 {
    height: 70%;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: row;
}

#wy-popular-products-carousel-chart__card-container {
    height: 100%;
    width: 71%;
    margin: 0% 2% 0 2%;
    background: rgb(255, 255, 255);
    overflow: hidden;
}

#wy-popular-products-carousel-chart__card-long-container {
    height: 100%;
    width: 200%;
    margin: 0;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: row;
}
.wy-popular-products-carousel-chart__card-long-container-move {
    transition: transform 0.5s ease;
}
.wy-popular-products-carousel-chart__card-item {
    height: 100%;
    width: calc(100% / 8);
    margin: 0;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: row;
}

.wy-popular-products-carousel-chart__card {
    height: 100%;
    width: 94%;
    margin-left: 2%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    cursor: pointer;
}

.wy-popular-products-carousel-chart__card-img-container {
    height: 50%;
    width: 100%;
    margin: 0;
}

.wy-popular-products-carousel-chart__card-img {
    height: 100%;
    width: 100%;
}

.wy-popular-products-carousel-chart__card-info-container {
    height: 50%;
    width: 100%;
    margin: 0;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
}

.wy-popular-products-carousel-chart__card-name {
    width: 90%;
    font-size: 1rem;
    font-weight: 600;
    margin: 5% 5% 0 5%;
    padding: 0;
    color: black;
    word-wrap: break-word;
    overflow: auto;
}

.wy-popular-products-carousel-chart__card-description {
    width: 90%;
    font-size: 1rem;
    font-weight: 300;
    margin: 5% 5% 0 5%;
    padding: 0;
    color: black;
    word-wrap: break-word;
    overflow: auto;
}

.wy-popular-products-carousel-chart__interval-line {
    height: 90%;
    width: 1%;
    margin-top: 10%;
    margin-left: 1%;
    background: rgb(219, 219, 219);
}

#wy-popular-products-carousel-chart__choice-container {
    height: 100%;
    width: 21%;
    margin: 0% 2% 0 2%;
    background: white;
    box-shadow: 0 0 10px rgba(255, 255, 255, 1);
}
#wy-popular-products-carousel-chart__choice-title {
    width: 90%;
    font-size: 1.5rem;
    font-weight: 600;
    margin: 5% 5% 0 5%;
    padding: 0;
    color: black;
    word-wrap: break-word;
    overflow: auto;
}
#wy-popular-products-carousel-chart__choice-description {
    width: 90%;
    font-size: 1rem;
    font-weight: 300;
    margin: 5% 5% 0 5%;
    padding: 0;
    color: black;
    word-wrap: break-word;
    overflow: auto;
}
#wy-popular-products-carousel-chart__choice-see-more {
    height: 20%;
    width: 70%;
    font-size: 2rem;
    font-weight: 800;
    margin: 5% 5% 0 5%;
    background: rgb(243, 56, 56);
    box-shadow: 0 0 10px rgb(132, 84, 84);
    margin: 30% 0 0 15%;
    padding: 0;
    color: rgb(255, 255, 255);
    word-wrap: break-word;
    overflow: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    text-shadow: 2px 2px 4px rgba(255, 255, 255, 0.5);
    border-radius: 10px;
    cursor: pointer;
}
#wy-popular-products-carousel-chart__choice-see-more:hover {
    background: rgb(56, 165, 243);
}
/* 公司介绍 */
#wy-about-us {
    height: 20%;
    width: 90%;
    margin: 5% 5% 5% 5%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: row;
}
#wy-about-us__description-container {
    height: 100%;
    width: 46%;
    margin: 0 2%;
}
.wy-about-us__description {
    width: 100%;
    font-size: 1.3rem;
    font-weight: 300;
    margin: 0;
    padding: 0;
    color: black;
    word-wrap: break-word;
    overflow: auto;
}
#wy-about-us__img {
    height: 100%;
    width: 50%;
}