html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

/* 左边 */
.products-container {
    width: 100%;
    height: 100vh;
    max-width: 100%;
    position: relative;
    top: 24%;
    margin-bottom: 15%;
    overflow: hidden;
}

.products-title {
    position: absolute;
    left: 8%;
    font-size: 40px;
    font-weight: 800;
}