html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.service-container {
    width: 100%;
    height: 200vh;
    max-width: 100%;
    position: relative;
    top: 24%;
    margin-bottom: 15%;
    overflow: hidden;
}

.service-title {
    position: absolute;
    left: 8%;
    font-size: 40px;
    font-weight: 800;
}

.service-title-description {
    position: absolute;
    left: 8%;
    top: 4%;
    font-size: 25px;
    font-weight: 300;
}

#service1 {
    position: absolute;
    left: 8%;
    top: 8%;
    height: 25%;
    width: 35%;
}
#service2 {
    position: absolute;
    left: 45%;
    top: 8%;
    height: 25%;
    width: 45%;
}

#service-description {
    position: absolute;
    left: 8%;
    top: 34%;
    font-size: 15px;
    font-weight: 300;
    line-height: 14px;
}

.service-title-description2 {
    position: absolute;
    left: 8%;
    top: 45%;
    font-size: 40px;
    font-weight: 300;
}

#service3 {
    position: absolute;
    left: 50%;
    top: 43%;
    height: 25%;
    width: 35%;
}

#service-description2 {
    position: absolute;
    left: 8%;
    top: 50%;
    font-size: 15px;
    font-weight: 300;
    line-height: 14px;
}

.service-title-description3 {
    position: absolute;
    left: 8%;
    top: 78%;
    font-size: 40px;
    font-weight: 300;
}

#service4 {
    position: absolute;
    left: 50%;
    top: 72%;
    height: 25%;
    width: 35%;
}

#service-description3 {
    position: absolute;
    left: 8%;
    top: 83%;
    font-size: 15px;
    font-weight: 300;
    line-height: 14px;
}