html,
body {
    height: 200%;
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex; 
    justify-content: flex-start; 
    align-items: flex-start;
    flex-direction:column;
}

#service-container {
    width: 100%;
    height: 200%;
    margin-bottom: 10%;
    display: flex; 
    justify-content: flex-start; 
    align-items: flex-start;
    flex-direction:column;
}

#service-title {
    margin: 6% 0 0 8%;
    font-size: 3.0rem;
    font-weight: 800;
}

#service-title-description {
    margin: 0 0 0 8%;
    font-size: 1.5rem;
    font-weight: 300;
}
#service-row-1{
    margin: 2% 8% 0 8%;
    height: 100%;
    width: calc(100% - 16%);
    display: flex; 
    justify-content: flex-start; 
    align-items: flex-start;
    flex-direction:row; 
}
#service-row-1-column-1{
    margin: 0% 0% 0 0%;
    height: 100%;
    width: 42%;
}
#service-row-1-column-2{
    margin: 4% 0% 0 8%;
    height: 100%;
    width: 50%;
}
#service-row-2{
    margin: 1% 8% 0 8%;
    height: 100%;
    width: calc(100% - 16%);
    line-height: 4vh;
}
#service-row-3{
    margin: 2% 8% 0 8%;
    height: 100%;
    width: calc(100% - 16%);
    display: flex; 
    justify-content: flex-start; 
    align-items: flex-start;
    flex-direction:row; 
}
#service-row-3-column-1{
    margin: 0% 8% 0 0%;
    height: 100%;
    width: 42%;
    display: flex; 
    justify-content: flex-start; 
    align-items: flex-start;
    flex-direction:column; 
}
#service-row-3-column-1-row-1{
    margin: 30% 0% 0 0%;
    font-size: 1.5rem;
    font-weight: 300;
}
#service-row-3-column-1-row-2{
    margin: 2% 0% 0 0%;
    line-height: 4vh;
}
#service-row-3-column-2{
    margin: 0% 0% 0 0%;
    height: 100%;
    width: 50%;
}

#service-row-4{
    margin: 2% 8% 0 8%;
    height: 100%;
    width: calc(100% - 16%);
    display: flex; 
    justify-content: flex-start; 
    align-items: flex-start;
    flex-direction:row; 
}
#service-row-4-column-1{
    margin: 0% 8% 0 0%;
    height: 100%;
    width: 42%;
    display: flex; 
    justify-content: flex-start; 
    align-items: flex-start;
    flex-direction:column; 
}
#service-row-4-column-1-row-1{
    margin: 20% 0% 0 0%;
    font-size: 1.5rem;
    font-weight: 300;
}
#service-row-4-column-1-row-2{
    margin: 2% 0% 0 0%;
    line-height: 4vh;
}
#service-row-4-column-2{
    margin: 0% 0% 0 0%;
    height: 100%;
    width: 50%;
}
